# frozen_string_literal: true

namespace :heroku do
  ENV_VARIABLES = %w[
<%- if auth0? -%>
    AUTH0_CLIENT_ID
    AUTH0_CLIENT_SECRET
    AUTH0_DOMAIN
<%- end -%>
<%- if rollbar? -%>
    ROLLBAR_ACCESS_TOKEN
<%- end -%>
  ].freeze

  def system!(*args)
    system(*args) || abort("\n== Command #{args} failed ==")
  end

  task :dump_config do
    system! "heroku config -s | grep '#{ENV_VARIABLES.join('\|')}' | tee -a .env"
  end
end
